<form class="savagedus-search-form bestiary-search">
    <fieldset>
        <legend>Bestiary Search Options</legend>
        {{#unless this}}
        <i class="fas fa-spinner fa-spin loading-spinner-books"></i>
        {{/unless}}
        <label for="savagedus-beast-search-string">
            <span style="font-weight: bold">Search Terms</span><br>
            Enter a search term, or leave empty to retrieve all entries from the selected sources.
        </label>
        <input class="savagedus-search-string" name="savagedus-beast-search-string" id="savagedus-beast-search-string" type="text" value="" placeholder="Enter a search term">
        <label for="savagedus-beast-book-select">
            <span style="font-weight: bold">Books to Search</span><br>
            Select one or more sources to search, or leave unselected to search all sources.
        </label>
        {{#if this}}
        <select class="savagedus-book-select" name="savagedus-beast-book-select" id="savagedus-beast-book-select" multiple>
            {{#each this}}
            {{#unless (eq bestiary_count 0)}}
            <option value="{{id}}">{{name}}</option>
            {{/unless}}
            {{/each}}
        </select>
        {{/if}}

        <div class="dialog-buttons">
            <button class="savagedus-button-search" id="savagedus-beast-search"><i class="fas fa-search"></i>Search</button>
        </div>
    </fieldset>
    <i class="fas fa-spinner fa-spin loading-spinner-results" style="display: none;"></i>
    <fieldset style="display: none;">
        <legend>Search Results</legend>
        <select class="savagedus-results-list" id="savagedus-bestiary-results-list" multiple></select>
    </fieldset>
</form>