<form class="savagedus-search-form character-search">
    <fieldset>
        <legend>Import Characters</legend>
        {{#unless (or this.new this.synched this.updated)}}
        <i class="fas fa-spinner fa-spin loading-spinner-results"></i>
        {{/unless}}
        {{#if (or this.new this.synched this.updated)}}
        <select name="savagedus-character-list" id="savagedus-character-list" multiple>
            {{#if new.list.length}}
            <optgroup label="{{new.label}}">
                {{#each new.list}}
                <option value="{{uuid}}" title="Saved on {{updatedDate}}">{{#if name}}{{name}} ({{raceGenderAndProfession}}){{else}}Empty Slot{{/if}}</option>
                {{/each}}
            </optgroup>
            {{/if}}

            {{#if updated.list.length}}
            <optgroup label="{{updated.label}}">
                {{#each updated.list}}
                <option value="{{uuid}}" title="Saved on {{updatedDate}}">{{name}} ({{raceGenderAndProfession}})</option>
                {{/each}}
            </optgroup>
            {{/if}}

            {{#if synched.list.length}}
            <optgroup label="{{synched.label}}">
                {{#each synched.list}}
                <option disabled value="{{uuid}}" title="Saved on {{updatedDate}}">{{name}} ({{raceGenderAndProfession}})</option>
                {{/each}}
            </optgroup>
            {{/if}}
        </select>
        <div class="savagedus-field-group">
            <input type="checkbox" name="savagedus-as-npc" id="savagedus-as-npc" />
            <label for="savagedus-as-npc">Import as NPC</label>
        </div>
        {{/if}}
    </fieldset>
</form>
