<form>
    <fieldset>
        <legend>Select Files</legend>
        <input class="file-picker" type="file" id="savaged-json-files" accept=".json" multiple name="savaged-json-files" files={{files}}>
    </fieldset>
    {{#if characters.length}}
    <fieldset>
        <legend>Set Actor Types for Characters</legend>
        <div class="savagedus-file-import-group"">
            {{#each characters}}
            {{#if (eq rankName 'Bestiary')}}
            <label class="savagedus-file-import-label" data-uuid="{{uuid}}">{{name}}</label>
            <label>NPC</label>
            {{else}}
            <label class="savagedus-file-import-label" for="import-type-{{uuid}}" data-uuid="{{uuid}}">{{name}}</label>
            <select id='import-type-{{uuid}}' name='import-type-{{uuid}}' class="savagedus-file-import-type-select">
                <option value="character">Character</option>
                <option value="npc">NPC</option>
            </select>
            {{/if}}
            {{/each}}
        </div>
    </fieldset>
    {{/if}}
</form>