<form class="savagedus-search-form gear-search">
    <fieldset>
        <legend>Gear Search Options</legend>
        <label for="savagedus-type-select">
            <span style="font-weight: bold">Gear Type</span><br>
            Select the type of item to search.
        </label>
        <select class="savagedus-type-select" name="savagedus-type-select" id="savagedus-type-select">
            <option value="gear">Gear</option>
            <option value="weapons">Weapons</option>
            <option value="armor">Armor</option>
            <option value="shields">Shields</option>
        </select>
        <label for="savagedus-gear-search-string">
            <span style="font-weight: bold">Search Terms</span><br>
            Enter a search term, or leave empty to retrieve all entries from the selected sources.
        </label>
        <input class="savagedus-search-string" name="savagedus-gear-search-string" id="savagedus-gear-search-string" type="text" value="" placeholder="Enter a search term">
        {{#unless this}}
        <i class="fas fa-spinner fa-spin loading-spinner-books"></i>
        {{/unless}}
        <label for="savagedus-gear-book-select">
            <span style="font-weight: bold">Books to Search</span><br>
            Select one or more sources to search, or leave unselected to search all sources.
        </label>
        {{#if this}}
        <select class="savagedus-book-select" name="savagedus-gear-book-select" id="savagedus-gear-book-select" multiple>
            {{#each this}}
            {{#unless (and (eq gear_count 0) (eq weapons_count 0) (eq armor_count 0) )}}
            <option value="{{id}}">{{name}}</option>
            {{/unless}}
            {{/each}}
        </select>
        {{/if}}
        <div class="dialog-buttons">
            <button class="savagedus-button-search" id="savagedus-gear-search"><i class="fas fa-search"></i>Search</button>
        </div>
        </fieldset>
        <i class="fas fa-spinner fa-spin loading-spinner-results" style="display: none;"></i>
        <fieldset style="display: none;">
            <legend>Search Results</legend>
            <i style="display: none;" class="fas fa-spinner fa-spin loading-spinner-results"></i>
            <select class="savagedus-results-list" id="savagedus-gear-results-list" multiple></select>
        </fieldset>
</form>
