.savagedus-importer {
    .savagedus-field-group {
        display: flex;
        align-items: center;
        gap: 0.25em;
        margin-top: 0.5em;

        label {
            margin-bottom: 0;
        }
    }

    #savagedus-character-list {
        height: 300px;
        width: 100%;
    }
}
