.sidebar-tab .directory-footer {
    .button-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 8px;
        justify-items: center;
        border-top: 1px solid #000;
        padding: 4px;

        .savagedus-title {
            grid-row: 1/2;
            grid-column: 1/3;
            font-size: 1em;
            text-decoration: none;
            border-bottom: none;
            align-self: center;
            margin: 0;

            a {
                margin-left: .5em;
            }
        }

        .savagedus-character-import {
            order: 2;
        }
        .savagedus-cache-refresh {
            order: 3;
        }
        .savagedus-bestiary-import {
            order: 4;
        }
        .savagedus-file-import {
            order: 5;
        }

        .toggle-label {
            align-self: center;
            margin: 0;
            .fas {
                margin-left: .5em;
            }
        }

        button {
            margin: 0;
        }
    }
}