.app.window-app.dialog.savagedus-importer.savagedus-theme {
    font-family: system-ui;
    background: none;
    background-color: #333344;

    .window-header {
        background-color: #434477;
    }

    .window-content {
        background: none;
    }

    fieldset {
        background-color: #252535;
        border: 1px solid #434477;
    }

    select[multiple],
    input {
        border: 1px solid #434477;
    }

    option, optgroup {
        background: transparent;
    }

    input::placeholder {
        color: #aaa;
    }

    * {
        color: #eef;

        &:hover,
        &:active,
        &:focus {
            box-shadow: none;
        }
    }

    .dialog-buttons button {
        font-family: system-ui;
        background-color: #007bff;
        border-color: #007bff;
        border-style: solid;

        &:hover,
        &:active,
        &:focus {
            stroke: #eef;
            fill: #eef;
            background-color: #5caafd;
            border-color: #5caafd;
            box-shadow: none;
        }
    }
}
