.savagedus {
    &-search-form {
        min-height: 250px !important;

        label {
            display: block;
            line-height: 1.5;
            margin-bottom: 0.5em;

            &:not(:first-of-type) {
                margin-top: 1em;
            }
        }
        input {
            padding: 0.5em;
        }

        option {
            background: none;
        }
    }

    &-search-string {
        display: block;
        width: 100%;
    }

    &-book-select[multiple] {
        display: block;
        height: 200px;
        width: 100%;
    }

    &-type-select {
        display: block;
    }

    &-button-search {
        display: block;
        margin-top: 1em;
    }

    &-results-list {
        display: block;
        min-height: 200px;
        min-width: 100%;
    }
}
