ol.savagedus-advances {
    list-style-type: none;
    padding-left: 0;

    li {
        display: flex;
        gap: 0.5em;
    }

    .bold {
        width: 1.125em;
        font-weight: bold;
        text-align: center;
    }
}